:root {
    --gray-border: #484848;
    --input-black: #171717;
    --placeHolderColor: #7c7c7c;
}

body {
    background-image: linear-gradient(to right, #18181b, #262626, #18181b);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

html {
    margin: 0;
    font-size: small;
}

#header {
    position: fixed;
    background-image: linear-gradient(to right, #18181b, #262626, #18181b);
    width: 100%;
}

#header-img {
    height: 3.25rem;
}

.logoSection {
    display: flex;
    gap: 10px;
    font-size: 1.4rem !important;
}

.accountSection {
    display: flex;
    gap: 20px;
}

.subOptions {
    color: lightgray;
    gap: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    display: flex;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 20px 160px 20px 100px;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 1.2rem;
}

.account-button {
    background-color: #377bd2;
    border-radius: 7.5px;
    height: 45px;
    padding: 0 20px;
}

.innterText {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 175px 260px 0px 100px;
    justify-content: space-between;
}

.contentData {
    display: flex;
    flex-direction: column;
    min-width: 510px;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Inter", Times, serif;
    letter-spacing: 0px;
    padding-top: 80px;
    line-height: 1.1;
}

.gradientText {
    background: linear-gradient(to right, #afb8eb, #0daaf3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 1.5rem;
    padding: 50px 0 70px;
    color: lightgray;
}

.exploreButton {
    background-color: #377bd2;
    border-radius: 7.5px;
    height: 60px;
    padding: 0 20px;
}

.signUpSection {
    min-width: 510px;
    border: var(--gray-border) solid 1px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 50px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.authOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.authOption {
    border: var(--gray-border) solid 1px;
    border-radius: 7.5px;
    background-color: var(--input-black);
    height: 50px;
}

.authOption:hover {
    background-color: #404040;
}

.partition {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1.25fr;
    gap: 10px;
}

.partitionText {
    padding-left: 10px;
    white-space: nowrap;
}

.InputSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInput {
    border: var(--gray-border) solid 1px;
    border-radius: 7.5px;
    background-color: var(--input-black);
    height: 40px;
    color: var(--placeHolderColor);
    padding-left: 15px;
}

hr {
    border-color: var(--gray-border);
}

.sampleButtpn {
    border: none;
    border-radius: 7.5px;
    height: 50px;
    margin-top: 20px;
    background-color: #293fd1;
    color: white;
    width: 100%;
}

.videoDiv {
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 100px 50px 200px 50px;
    gap: 50px;
}

.catchPhrase {
    color: #ea580c;
    font-size: 1.5rem;
}
.videoDescription > .title {
    padding-top: 25px;
}

.videoInfo {
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    flex-direction: row;
    gap: 25px;
}
.info {
    padding-top: 25px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    #nav-bar {
        padding: 20px 20px 20px 20px;
    }
    .content {
        padding: 175px 20px 0px 20px;
    }
}

@media only screen and (max-width: 1280px) {
    #nav-bar {
        padding: 20px 20px 20px 20px;
    }
    .content {
        padding: 175px 20px 0px 20px;
        flex-direction: column;
        padding: 100px 20px 0px 20px;
        align-items: center;
        gap: 50px;
    }

    .sample {
        display: flex;
        flex-direction: column;
    }

    .videoInfo {
        flex-direction: column !important;
        align-items: center;
    }

    .actualVideo {
        width: 40rem;
        height: 27rem;
    }
}

@media only screen and (min-width: 1280px) {
    .contentData {
        max-width: 510px;
    }

    .info {
        max-width: 40%;
    }
}
